.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 150px;
}

.logo {
  width: 196px;
  height: 60px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0px;
  margin-top: 8px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 544px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  margin: 0px 0px 32px;
}

.header__description {
  max-width: 532px;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
}

.header__image {
  max-width: 636px;
  position: absolute;
  top: 135px;
  right: 20px;
  z-index: 1;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #1f69c9;
}

.header__address {
  margin: 0;
  color: #838383;
}

.content {
  background-color: #f2f2f2;
}

.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  margin-top: 60px;
  color: #2f80ed;
  text-decoration: none;
}

.events__more:hover {
  color: #1f69c9;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  top: 96px;
  right: 125px;
}

.person_name_cannon {
  bottom: 18px;
  right: 216px;
}

.person_name_mitchell {
  bottom: 82px;
  left: 142px;
}

.person_name_tarter {
  top: 79px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.staff {
  padding-top: 100px;
  padding-bottom: 140px;
  background-image: url(../images/staff_picks_background.jpg);
  background-size: 100%;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
  color: #fff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 24px 0 0;
  color: #fff;
}

.staff__content {
  max-width: 760px;
  margin: 68px auto 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 360px;
  height: 420px;
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
}

.membership {
  padding-top: 100px;
  padding-bottom: 140px;
  background-color: #f2f2f2;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  padding: 0;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.step {
  flex-basis: 220px;
  height: 80px;
}

.step__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.step__icon {
  margin-left: 20px;
}

.step__description {
  margin: 10px 0 0;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  gap: 120px;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  max-width: 154px;
  z-index: 1;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 1;
}

.about__paragraph {
  margin: 0 0 32px;
}

.about__paragraph_no-margin {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  left: -91px;
  top: -121px;
}

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #fff;
  min-height: 224px;
  padding: 60px 102px 60px 80px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__column_content_hours {
  margin: 0px 100px 0px auto;
}

.footer__logo {
  width: 116px;
  height: 21px;
  /* Top margin added to align the top of the logo with the tops of the letters in the other footer columns.
  The brief shows the tops of the letters in all the columns as slightly below the top of the bounding box, but by default the top of the logo is flush with it.
  This margin is to shift the logo slightly down so it's consistent with the other columns. */
  margin: 4px auto 0px 0px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  margin: 16px 0px 0px;
}

.footer__column-heading {
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  margin: 0px 0px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
}

.footer__copyright {
  font-size: 16px;
  line-height: 20px;
  margin: 108px 0px 0px;
}
